parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        - src/SprykerEco/Zed/AmazonQuicksight/Persistence/Propel/Abstract*.php
    ignoreErrors:
        - '#Call to method .+ on an unknown class .+Transfer#'
        - '#Parameter .+ of method .+ has invalid typehint type .+Transfer#'
        - '#Return typehint of method .+ has invalid type .+Transfer#'
        - '#Instantiated class .+Transfer not found#'
        - '#Instantiated class Orm\\Zed\\AmazonQuicksight\\Persistence\\.+ not found.+#'
        - '#Return typehint of method .+ has invalid type Orm\\.+#'
        - '#Call to method .+\(\) on an unknown class Orm\\.+#'
        - '#Call to static method create\(\) on an unknown class .+Query.#'
        - '#Parameter \$.+ of method .+ has invalid typehint type Orm\\.+#'
        - '#Access to constant .+ on an unknown class .+Transfer#'
        - '#Call to method .+\(\) on an unknown class Generated\\Zed\\Ide\\AutoCompletion#'
        - '#Parameter .+ of anonymous function has invalid typehint type .+Transfer#'
        - '#Parameter \$request of method .+ has invalid typehint type Symfony\\Component\\HttpFoundation\\Request.#'
        - '#Class Spryker\\Zed\\AnalyticsGuiExtension\\Dependency\\Plugin\\AnalyticsCollectionExpanderPluginInterface not found.#'
        - '#Class Spryker\\Zed\\UserExtension\\Dependency\\Plugin\\UserPostUpdatePluginInterface not found.#'
        - '#Class Spryker\\Zed\\UserExtension\\Dependency\\Plugin\\UserPostCreatePluginInterface not found.#'
