{# @var quicksightGenerateEmbedUrlResponse \Generated\Shared\Transfer\QuicksightGenerateEmbedUrlResponseTransfer #}

{% if quicksightGenerateEmbedUrlResponse.errors | length %}
    {% for error in quicksightGenerateEmbedUrlResponse.errors %}
        <div class="alert alert-danger" role="alert">{{ error.message }}</div>
    {% endfor %}
{% endif %}
{% if quicksightGenerateEmbedUrlResponse.embedUrl is not null and quicksightGenerateEmbedUrlResponse.embedUrl.url is not null %}
    <div id="experience-container" data-embed-url="{{ quicksightGenerateEmbedUrlResponse.embedUrl.url | raw }}"></div>

    <script src="{{ assetsPath('js/spryker-zed-quicksight-analytics-gui-main.js') }}"></script>
{% endif %}
