<div class="form-group">
    <label class="control-label" for="quicksight_user_role">{{ 'Analytics' | trans }}</label>
    <br>
    {{ form_errors(userForm.quicksight_user_role) }}
    {{ form_widget(userForm.quicksight_user_role) }}
    <div class="form-note">
        {{ userForm.quicksight_user_role.vars.help | trans | raw }}
    </div>
</div>
